.App{
  padding: 2%;
  border: solid #00949a 5px;
}
/* Css for navbar */
.navPage{
  padding: 1%;
  margin-left: 3%;
}
.navbar{
  display: flex;
  column-gap: 30%;
}
ul{
 display: flex;
 list-style: none;
}
.navlink{
  /* float: inline-end; */
  width: 80%;
}
li{
  padding: 3%;
}
li:hover{
  background-color: #00949a;
  border-radius: 18px;
}
a{
  text-decoration: none;
}
.Page{
  display: flex;
  margin-left: 4%;
  
}
.Containt{
  padding: 2%;
  width: 40%;
}
p{
  line-height: 135%;
  
}
.image{
  width: 60%;
  margin-right: 20%;
}
.img2{
  width: 130%;
}
@media screen and (max-width: 550px) {
  div.Page {
  display: block;
}
}
@media screen and (max-width: 750px) {
  div.navbar {
  display: block;
}
}
@media screen and (max-width: 350px) {
  ul {
  display: block;
}
}